<br>
<br>


<h2>건의사항</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Data actions</th>
    </tr>
  </thead>

  <tbody>
    <% @post_ps.each do |post_p| %>
      <tr>
        <td><%= post_p.title %></td>
        <td><%= post_p.description %></td>
        <td>
          <%= link_to 'Show', post_p, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_post_p_path(post_p), class: 'btn btn-default' %>
          <%= link_to 'Destroy', post_p, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '등록', new_post_p_path, class: 'btn btn-default' %>
