<h2>회원정보 수정 <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><div class="form-group">
    <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
  </div></div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"> <div class="form-group">
    <%= f.input :username, autocomplete: "off", placeholder: "사이트에서 사용할 이름을 적어주세요.", required: false, input_html: { class: 'form-control' } %>
  </div></div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"> <div class="form-group">
    <%= f.input :password, autocomplete: "off", placeholder: "새 비밀번호를 적어주세요", required: false, input_html: { class: 'form-control' } %>
  </div></div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><div class="form-group">
    <%= f.input :password_confirmation, placeholder: "다시한번 적어주세요", required: false, input_html: { class: 'form-control' } %>
  </div></div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"> <div class="form-group">
    <%= f.input :current_password, placeholder: "현재 비밀번호를 적어주세요", required: true, input_html: { class: 'form-control' } %>
  </div></div>
  <div class="col-md-4"></div>
</div>

<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"> <%= f.button :submit, "Update", class: 'btn btn-large btn-block btn-info' %>
<% end %></div>
  <div class="col-md-4"></div>
</div>
<br>

  

 
  
 
 

<hr>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back, class: "btn btn-default" %>