<br>


<h2>자유게시판</h2>

<table class="table">
  <thead>
    <tr>
      <th><p align="center">제목</p></th>
      <th><p align="center">내용</p></th>
      <th><p align="center">Action</p></th>
    </tr>
  </thead>

  <tbody>
    <% @post_fs.each do |post_f| %>
      <tr>
        <td><%= post_f.title %></td>
        <td><%= post_f.description %></td>
        <td>
          <%= link_to 'Show', post_f, class: 'btn btn-default' %>
          <%= link_to 'Edit', edit_post_f_path(post_f), class: 'btn btn-default' %>
          <%= link_to 'Destroy', post_f, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '글쓰기', new_post_f_path, class: 'btn btn-default' %>
