<style type="text/css">
  .test1 { color:black; background-color:white; padding:20px; border-radius: 10px;}
  .center { font-size: 20px;}
  .right {text-align:right;}
  .pro {font-size:15px;}
  .titleline {border-left:0.5em solid #E0CB52; padding-left: 0.5em; font-size: 20px; text-align:left;}
</style>





<div class="row ngc wrap content">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="test1">
      <h3 class="ngc margin titleline">자유게시판</h3>




      <br>




      <br>
<table class="table table-hover">
  <thead>
    <tr>
      <th><p align="center">제목</p></th>
      <th><p align="center">작성 시간</p></th>
      <th><p align="center">작성자</p></th>
    </tr>
  </thead>

  <tbody>
    <% @postfs.each do |postf| %>
      <tr>
        <td><%= link_to postf.title, postf %> <small>( <%= postf.commentfs.size %> )</small></td>
        <td><%= postf.created_at.strftime(" %Y년 %m월 %d일 %H시") %></td>
        <td><% if postf.user_id == current_user.id %>
              <strong><%=User.find_by_id(Postf.find_by_id(postf.id).user_id).username if postf.user_id %></strong>
            <% else %>
              익명
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

 <%= form_tag(postfs_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "게시글 찾기" %>
    <font color="#63645A"><%= submit_tag "검색" %></font>
    <% end %>
    <br>


<%= link_to '글쓰기', new_postf_path, class: 'btn btn-default' %>
<%= will_paginate @postfs %>

 </div>
  <div class="col-md-2"></div>
</div>
</div>
