<style>
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
      .ngc {font-family: 'Nanum Gothic Coding'; color:#333333;}
      .right {text-align:right; margin-top: 5px;}
    </style>


<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><h2 class="ngc"><%= @postf.title %></h2></div>
  <div class="col-md-4"></div>
</div>



<div class="row ngc">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class='post'>


      <div class="content">
        <%= simple_format @postf.content %>
      </div>

      <div class="user">
        <strong>작성자</strong>
        익명
      </div>
    </div>


  <div class="right">
    <% if @postf.user_id == current_user.id %>
      <%= link_to 'Edit', edit_postf_path(@postf), class: 'btn btn-default' %>
      <%= link_to 'Back', postfs_path, class: 'btn btn-default' %>
    <% end %>
  </div>


    <%= render :partial => "commentfs/commentfs" %>

    </div>
  <div class="col-md-2"></div>
</div>
