<p id="count"><%=@lecture.avg.round(1)%> 점 (<%=@lecture.stars.count%> 명)</p>
  

    <p><% @lecture.stars.reverse.each do |s| %>
          <%if s.user.email == current_user.email %>
            나의 별점
            <span class="star-rating small">
              <% 1.upto(5) do |i| %>
                <% if i == s.score %>
                  <i class="on"></i>
                <% else %>
                  <i></i>
                <% end %>
              <% end %>
            </span>
            <p><%=s.user.email%> 
            <%= link_to fa_icon("times-circle-o"), [s.lecture, s], method: :delete, remote: true, data: { confirm: "정말요?" } %></p>
          <% end %>
    <% end %></p>

 
  
  <%=form_tag(lecture_stars_path, method: "post") do %>
    <input type="hidden" name="id" value="<%=@lecture.id%>">
    <span class="star-rating small">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </span>
    <br>
    <button class="btn btn-success" href="#" role="button">평가하기</button>
  <% end %>
  