<style>
      .right {text-align:right; margin-top: 5px;}
      .margin {margin-bottom: 20px;}
      .titleline {border-left:0.5em solid #E0CB52; padding-left: 0.5em; font-size: 20px; text-align:left;}
    </style>

<br>



<div class="row ngc">
  <div class="col-md-2"></div>
  <div class="col-md-8">
<h3 class="ngc margin titleline">학과별 강의 찾기</h3>



<table>
  <tr style="vertical-align:top">
    <td style="width:250px; border-right:1px; padding-right:12px; text-align:justify; padding-bottom:10px;">
      <% @maj.each do |m| %>
      <%if m.line == 1%>
      <a href = "/home/show_major/<%=m.id%>"><button type="button" class="btn btn-default btn-lg btn-block ngc" style="margin-top:10px;"><%= m.name %></button></a>
      <%end%><%end%>
    </td>
    <td style="padding-left:10px; width:250px; border-right:1px; padding-right:12px; text-align:justify; padding-bottom:10px;">
      <% @maj.each do |m| %>
      <%if m.line == 2%>
      <a href = "/home/show_major/<%=m.id%>"><button type="button" class="btn btn-default btn-lg btn-block ngc" style="margin-top:10px;" ><%= m.name %></button></a>
      <%end%><%end%>
    </td>
    <td style="padding-left:10px; width:250px; padding-bottom:10px;">
      <% @maj.each do |m| %>
      <%if m.line == 3%>
      <a href = "/home/show_major/<%=m.id%>"><button type="button" class="btn btn-default btn-lg btn-block ngc" style="margin-top:10px;" ><%= m.name %></button></a>
      <%end%><%end%>
    </td>
  </tr>
</table>



      <br>
      <br>
      <h3 class="ngc margin titleline">교양과목별 강의 찾기</h3>


  <table>
  <tr style="vertical-align:top">
    <td style="width:250px; border-right:1px; padding-right:12px; text-align:justify; padding-bottom:10px;">
      <% @maj.each do |m| %>
      <%if m.line == 4%>
      <a href = "/home/show_major/<%=m.id%>"><button type="button" class="btn btn-default btn-lg btn-block ngc" style="margin-top:10px;"><%= m.name %></button></a>
      <%end%><%end%>
    </td>
    <td style="width:250px; border-right:1px; padding-right:12px; text-align:justify; padding-bottom:10px;">
      <% @maj.each do |m| %>
      <%if m.line == 5%>
      <a href = "/home/show_major/<%=m.id%>"><button type="button" class="btn btn-default btn-lg btn-block ngc" style="margin-top:10px;"><%= m.name %></button></a>
      <%end%><%end%>
    </td>
    <td style="padding-left:10px; width:250px; padding-bottom:10px;">
      <% @maj.each do |m| %>
      <%if m.line == 6%>
      <a href = "/home/show_major/<%=m.id%>"><button type="button" class="btn btn-default btn-lg btn-block ngc" style="margin-top:10px;"><%= m.name %></button></a>
      <%end%><%end%>
    </td>
    </tr>
    </table>

  </div>
  <div class="col-md-2"></div>
</div>
