<style type="text/css">
    .test1 { color:yellow; background-color:#B2EAFF; padding:10px; border-radius: 10px;}
    .margin {margin-bottom: 20px;}
    .titleline {border-left:0.5em solid #E0CB52; padding-left: 0.5em; font-size: 20px; text-align:left;}
</style>


 <script type="text/javascript">
 $('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
 </script>





<br>


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h3 class="ngc margin titleline">초성으로 교수님 찾기</h3>
      <div class="test1">


        <div>

  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-justified" role="tablist">
    <li role="presentation"><a href="#ㄱ" aria-controls="ㄱ" role="tab" data-toggle="tab">ㄱ<span class="badge">63</span></a></li>
    <li role="presentation"><a href="#ㄴ" aria-controls="ㄴ" role="tab" data-toggle="tab">ㄴ<span class="badge">2</span></a></li>
    <li role="presentation"><a href="#ㄷ" aria-controls="ㄷ" role="tab" data-toggle="tab">ㄷ<span class="badge">0</span></a></li>
    <li role="presentation"><a href="#ㄹ" aria-controls="ㄹ" role="tab" data-toggle="tab">ㄹ<span class="badge">0</span></a></li>
    <li role="presentation"><a href="#ㅁ" aria-controls="ㅁ" role="tab" data-toggle="tab">ㅁ<span class="badge">2</span></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in" id="ㄱ">
        <% @pro.each do |p| %>
        <% if p.dis == 1 %>
        <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a><% end %>
        <%end%>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="ㄴ">
        <% @pro.each do |p| %>
        <%if p.dis == 2%>
        <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
        <% end %><% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="ㄷ">
      <% @pro.each do |p| %>
      <%if p.dis == 3%>
      <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
      <% end %><% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="ㄹ">
      <% @pro.each do |p| %>
      <%if p.dis == 4%>
      <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
      <% end %><% end %>
    </div>
    <div role="tabpanel" class="tab-pane fade in" id="ㅁ">
      <% @pro.each do |p| %>
      <%if p.dis == 5%>
      <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
      <% end %><% end %>
    </div>
  </div>

</div>
        </div>

        <br>

        <div class="test1">


          <div>

      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-justified" role="tablist">
      <li role="presentation"><a href="#ㅂ" aria-controls="ㅂ" role="tab" data-toggle="tab">ㅂ<span class="badge">19</span></a></li>
      <li role="presentation"><a href="#ㅅ" aria-controls="ㅅ" role="tab" data-toggle="tab">ㅅ<span class="badge">11</span></a></li>
      <li role="presentation"><a href="#ㅇ" aria-controls="ㅇ" role="tab" data-toggle="tab">ㅇ<span class="badge">59</span></a></li>
      <li role="presentation"><a href="#ㅈ" aria-controls="ㅈ" role="tab" data-toggle="tab">ㅈ<span class="badge">32</span></a></li>
      <li role="presentation"><a href="#ㅊ" aria-controls="ㅊ" role="tab" data-toggle="tab">ㅊ<span class="badge">12</span></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in" id="ㅂ">
        <% @pro.each do |p| %>
        <%if p.dis == 6%>
        <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
        <% end %><% end %>
      </div>

      <div role="tabpanel" class="tab-pane fade in" id="ㅅ">
        <% @pro.each do |p| %>
        <%if p.dis == 7%>
        <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
        <% end %><% end %>
      </div>

      <div role="tabpanel" class="tab-pane fade in" id="ㅇ">
        <% @pro.each do |p| %>
        <%if p.dis == 8%>
        <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
        <% end %><% end %>

      </div>

      <div role="tabpanel" class="tab-pane fade in" id="ㅈ">
        <% @pro.each do |p| %>
        <%if p.dis == 9%>
        <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
        <% end %><% end %>
      </div>

      <div role="tabpanel" class="tab-pane fade in" id="ㅊ">
        <% @pro.each do |p| %>
        <%if p.dis == 10%>
        <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
        <% end %><% end %>

      </div>
      </div>

      </div>
          </div>

  <br>

    <div class="test1">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation"><a href="#ㅋ" aria-controls="ㅋ" role="tab" data-toggle="tab">ㅋ<span class="badge">0</span></a></li>
        <li role="presentation"><a href="#ㅌ" aria-controls="ㅌ" role="tab" data-toggle="tab">ㅌ<span class="badge">1</span></a></li>
        <li role="presentation"><a href="#ㅍ" aria-controls="ㅍ" role="tab" data-toggle="tab">ㅍ<span class="badge">0</span></a></li>
        <li role="presentation"><a href="#ㅎ" aria-controls="ㅎ" role="tab" data-toggle="tab">ㅎ<span class="badge">12</span></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in" id="ㅋ">
          <% @pro.each do |p| %>
          <%if p.dis == 11%>
          <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
          <% end %><% end %>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="ㅌ">
          <% @pro.each do |p| %>
          <%if p.dis == 12%>
          <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
          <% end %><% end %>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="ㅍ">
          <% @pro.each do |p| %>
          <%if p.dis == 13%>
          <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
          <% end %><% end %>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="ㅎ">
          <% @pro.each do |p| %>
          <%if p.dis == 14%>
          <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
          <% end %><% end %>
        </div>

      </div>

    </div>
    </div>


  <br>

    <div class="test1">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation"><a href="#AtoZ" aria-controls="AtoZ" role="tab" data-toggle="tab">A~Z<span class="badge">2</span></a></li>
        <li role="presentation"><a href="#미정" aria-controls="미정" role="tab" data-toggle="tab">미정<span class="badge">1</span></a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in" id="AtoZ">
          <% @pro.each do |p| %>
          <%if p.dis == 15%>
          <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
          <% end %><% end %>
        </div>

        <div role="tabpanel" class="tab-pane fade in" id="미정">
          <% @pro.each do |p| %>
          <%if p.dis == 16%>
          <a href = "/home/show_professor/<%=p.id%>"><button type="button" class="btn btn-link"><%= p.name %></button></a>
          <% end %><% end %>
        </div>

      </div>

    </div>
    </div>

  </div>
  <div class="col-md-2"></div>
</div>
