<style>
.br { border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea; margin-bottom: 10px; margin-top:10px;}
.margin {margin-top: 3px; margin-bottom: 3px;}
</style>



<li id="commentu_<%=commentu.id %>">
  <strong><%= commentu.user.present? ? commentu.user.username : "n/a" %></strong>
  [<%= commentu.created_at.strftime(" %Y년 %m월 %d일 %H시 %M분") %>]
  <% if commentu.user.id == current_user.id %>
    <%= link_to fa_icon("times-circle-o"), [commentu.postu, commentu], method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
  <% end %>
  <div class="margin"></div>
  <%= commentu.body %>
  <div class="br"></div>
</li>
