<% commentu = @postu.commentus.new %>
<div id="commentus_form_<%=@postu.id%>">
<%= simple_form_for([@postu, commentu], remote: true ) do | f | %>
    <p style='text-align:right;'>
      작성자: <%= current_user.username %>
    </p>
  <div class='form-inputs'>
    <%= f.input :body, label: false, placeholder: '내용을 작성하세요.',  input_html: { rows: 3 } %>
  </div>
  <div class='form-actions'>
    <%= f.button :submit %>
  </div>
<% end %>
</div>