<style type="text/css">
.title { color: gray}

</style>


<br>
<br>
<h2 class="title">로그인</h2>
<br>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><div class="form-group">
    <%= f.input :email, required: false, autofocus: true, placeholder: "Email", input_html: { class: 'form-control' } %>
  </div></div>
  <div class="col-md-4"></div>
</div>

  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><div class="form-group">
    <%= f.input :password, required: false, placeholder: "Password", input_html: { class: 'form-control' } %>
  </div></div>
  <div class="col-md-4"></div>
</div>

  <div class="form-group col-md-12 title">
    <%= f.input :remember_me, as: :boolean, inline_label: true, label: false if devise_mapping.rememberable? %>
  </div>
  <div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"> <%= f.button :submit, "Sign in", class: 'btn btn-large btn-block btn-info' %>
<% end %>
</div>
  <div class="col-md-4"></div>
</div>


<%= render "devise/shared/links" %>
