<style type="text/css">
  .test1 { color:black; background-color:white; padding:20px; border-radius: 10px;}
  .center {text-align:center; font-size: 35px;}
  .right {text-align:right;}
  .pro {font-size:15px;}
  .titleline {border-left:0.5em solid #E0CB52; padding-left: 0.5em; font-size: 20px; text-align:left;}
</style>



<div class="row ngc wrap content">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="test1">
      <h3 class="ngc margin titleline">건의사항</h3>




      <br>




      <br>
<table class="table table-hover">
  <thead>
    <tr>
      <th><p align="center">제목</p></th>
      <th><p align="center">작성 시간</p></th>
      <th><p align="center">작성자</p></th>
    </tr>
  </thead>

  <tbody>
    <% @postus.each do |postu| %>
      <tr>
        <td><%= link_to postu.title, postu %> <small>( <%= postu.commentus.size %> )</small></td>
        <td><%= postu.created_at.strftime(" %Y년 %m월 %d일 %H시") %></td>
        <td><%=User.find_by_id(Postu.find_by_id(postu.id).user_id).username if postu.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <%= form_tag(postus_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
    <font color="#63645A"><%= submit_tag "Search" %></font>
    <% end %>
    <br>


<%= link_to '글쓰기', new_postu_path, class: 'btn btn-default' %>
<%= will_paginate @postus %>

 </div>
  <div class="col-md-2"></div>
</div>
</div>
