<style>
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
      .ngc {font-family: 'Nanum Gothic Coding'; color:#333333;}
      .right {text-align:right; margin-top: 5px;}
    </style>

<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><h2 class="ngc"><%= @postu.title %></h2></div>
  <div class="col-md-4"></div>
</div>



<div class="row ngc">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class='post'>


      <div class="content">
        <%= simple_format @postu.content %>
      </div>

      <div class="user">
        <strong>작성자</strong>
        <%= User.find(@postu.user_id).username %>
      </div>
    </div>


  <div class="right">
    <% if @postu.user_id == current_user.id %>
      <%= link_to 'Edit', edit_postu_path(@postu), class: 'btn btn-default' if @postu.updatable_by? current_user%>
      <%= link_to 'Destroy', [@postu], method: :delete, data: { confirm: '진짜요?' }, class:'btn btn-default' if @postu.deletable_by? current_user%>
    <% end %>
    <%= link_to 'Back', postus_path, class: 'btn btn-default' %>
  </div>


    <%= render :partial => "commentus/commentus" %>

    </div>
  <div class="col-md-2"></div>
</div>
