<style type="text/css">
  .test1 { color:black; background-color:white; padding:20px; border-radius: 10px;}
  .center {text-align:center; font-size: 35px;}
  .right {text-align:right;}
  .titleline {border-left:0.5em solid #E0CB52; padding-left: 0.5em; font-size: 20px; text-align:left;}
  .prosize {padding-left:5px; font-size: 15px;}
</style>


<br>


<div class="row ngc wrap content">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="test1">
      <h3 class="ngc margin titleline"><%= @lecture.name %><a href="/home/show_professor/<%=@lecture.professor_id%>"><span class="prosize"><%= @lecture.professor.name %>교수님</span></a></h3>
      <span class="right"><%= render :partial => "stars/star" %></span>




      <br>




      <br>


    <table class="table table-hover">
      <thead>
        <tr>
          <th><p align="center">제목</p></th>
          <th><p align="center">작성 시간</p></th>
          <th><p align="center">작성자</p></th>
          <th><p align="center">별점</p></th>
          <th><p align="center">추천수</p></th>
        </tr>
      </thead>




      <tbody>
       <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.title, [post.lecture, post] %> <small>( <%= post.comments.size %> )</small></td>
          <td><%= post.created_at.strftime(" %Y년 %m월 %d일 %H시") %></td>
          <td><%=User.find_by_id(Post.find_by_id(post.id).user_id).username if post.user_id %></td>
          <td>
            <p><% @lecture.stars.reverse.each do |s| %>
              <%if s.user.id == post.user_id %>
                <span class="star-rating supersmall">
                  <% 1.upto(5) do |i| %>
                    <% if i == s.score %>
                      <i class="on"></i>
                    <% else %>
                      <i></i>
                    <% end %>
                  <% end %>
                </span>
                <% end %>
              <% end %>
            </p>
          </td>
          <td><%= "좋아요 #{post.likes.count}" %>  </td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= form_tag(lecture_posts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "게시글 찾기" %>
    <font color="#63645A"><%= submit_tag "검색" %></font>
    <% end %>
    <br>


    <%= link_to '글쓰기', new_lecture_post_path, class: 'btn btn-default' %>
    <%= will_paginate @posts %>


  </div>
  <div class="col-md-1"></div>
</div>
</div>
