<h2><%= @lecture.name %> 게시판입니다.</h2>
<a href="/home/show_professor/<%=@lecture.professor_id%>"><%= @lecture.professor.name %></a>교수
<p id="count"><%=@lecture.avg.round(1)%> 점 (<%=@lecture.stars.count%> 명)</p>
  

    <p><% @lecture.stars.reverse.each do |s| %>
          <%if s.user.email == current_user.email %>
            나의 별점
            <span class="star-rating small">
              <% 1.upto(5) do |i| %>
                <% if i == s.score %>
                  <i class="on"></i>
                <% else %>
                  <i></i>
                <% end %>
              <% end %>
            </span>
            <p><%=s.user.email%> 
            <%= link_to fa_icon("times-circle-o"), [s.lecture, s], method: :delete, remote: true, data: { confirm: "Are you sure?" } %></p>
          <% end %>
            
    <% end %></p>

 
  
  <%=form_tag(lecture_stars_path, method: "post") do %>
    <input type="hidden" name="id" value="<%=@lecture.id%>">
    <span class="star-rating small">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </span>
    <br>
    <button class="btn btn-success" href="#" role="button">평가하기</button>
  <% end %>
  
  
<table class="table">
  <thead>
    <tr>
      <th>제목</th>
      <th>작성 시간</th>
      <th>작성자</th>
    </tr>
  </thead>


<p id="notice"><%= notice %></p>
<h1>
  <%= "좋아요 갯수 #{@lecture.likes.count}" %>
</h1>
<%= likeBtn(@hasLike) %>
  <tbody>
   <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, [post.lecture, post] %> <small>( <%= post.comments.size %> )</small></td>
      <td><%= post.created_at.strftime(" %Y년 %m월 %d일 %H시 %M분") %></td>
      <td><%= post.user.present? ? post.user.email : "n/a" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag(lecture_posts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>
<br>


<%= link_to '글쓰기', new_lecture_post_path, class: 'btn btn-default' %>
<%= will_paginate @posts %>