<h2><%= @lecture.name %> 게시판입니다.</h2>

<table class="table">
  <thead>
    <tr>
      <th>제목</th>
      <th>작성 시간</th>
      <th>작성자</th>
    </tr>
  </thead>


<p id="notice"><%= notice %></p>
<h1>
  <%= "좋아요 갯수 #{@lecture.likes.count}" %>
</h1>
<%= likeBtn(@hasLike) %>
  <tbody>
   <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, [post.lecture, post] %> <small>( <%= post.comments.size %> )</small></td>
      <td><%= post.created_at.strftime("%I %B %d, %Y") %></td>
      <td><%= post.user.present? ? post.user.email : "n/a" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag(lecture_posts_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>
<br>


<%= link_to '글쓰기', new_lecture_post_path, class: 'btn btn-default' %>
<%= will_paginate @posts %>