<style>
      @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
      .ngc {font-family: 'Nanum Gothic Coding'; color:#333333;}
      .right {text-align:right; margin-top: 5px;}
    </style>


<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"><h2 class="ngc"><%= @post.title %></h2></div>
  <div class="col-md-4"><h2 class="ngc"><p align="left"><%= "좋아요 #{@post.likes.count}" %></p></h2></div>
  <%= likeBtn(@hasLike) %>
</div>



<div class="row ngc">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <div class='post'>


      <div class="content">
        <%= simple_format @post.content %>
      </div>

      <div class="user">
        <strong>작성자</strong>
        <%= User.find(@post.user_id).username %>
      </div>
    </div>


  <div class="right">
    <% if @post.user_id == current_user.id %>
      <%= link_to 'Edit', edit_lecture_post_path(@post.lecture, @post), class:'btn btn-default btn-sm' %>
      <%= link_to 'Destroy', [@post.lecture, @post], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default btn-sm' %>
    <% end %>

    <%= link_to 'Back', lecture_posts_path, class: 'btn btn-default btn-sm' %>
</div>


    <%= render :partial => "comments/comments" %>


    </div>
  <div class="col-md-2"></div>
</div>
