<h2>Post Preview</h2>

<p id="notice"><%= notice %></p>
<h1>
  <%= "좋아요 갯수 #{@post.likes.count}" %>
</h1>
<%= likeBtn(@hasLike) %>
<div class='post'>
  <div class="title">
    <h3>제목:
    <%= @post.title %></h3>
  </div>

  <div class="content">
    <%= simple_format @post.content %>
  </div>

  <div class="user">
    <strong>작성자</strong>
    <%= User.find(@post.user_id).email %>
  </div>
</div>



<hr>
<% if @post.user_id == current_user.id %>
  <%= link_to 'Edit', edit_lecture_post_path(@post.lecture, @post), class:'btn btn-default' %>
  <%= link_to 'Destroy', [@post.lecture, @post], method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %>
<% end %>

<%= link_to 'Back', lecture_posts_path, class: 'btn btn-default' %>

<%= render :partial => "comments/comments" %>